<?xml version="1.0" encoding="UTF-8"?>
<agent-input>
    <server>
        {% for repo in repos %}<repository location='{{ repo }}repository.config'/>{% endfor %}
    </server>
	<install modify='false'>
        <offering id='8.5.5.0-WS-WASProd-IFPI15756' profile='IBM WebSphere Application Server V8.5' features='-'/>
        <offering id='8.5.5.2-WS-WAS-IFPI15581' profile='IBM WebSphere Application Server V8.5' features='-'/>
		<offering id='com.ibm.websphere.ND.v85' profile='IBM WebSphere Application Server V8.5' features='core.feature,ejbdeploy,thinclient,embeddablecontainer,com.ibm.sdk.6_64bit' installFixes='none'/>
		<offering id='com.ibm.websphere.IBMJAVA.v70' profile='IBM WebSphere Application Server V8.5' features='com.ibm.sdk.7' installFixes='none'/>
        <offering id='com.ibm.websphere.PORTAL.EXPRESS.v85' profile='IBM WebSphere Portal Express V8.5' features='ce.install,portal.binary,portal.profile' installFixes='none'/>
	</install>
    <profile id='IBM WebSphere Application Server V8.5' installLocation='{{ WSHome }}/AppServer'>
        <data key='eclipseLocation' value='{{ WSHome }}/AppServer'/>
		<data key='user.import.profile' value='false'/>
        <data key='cic.selector.nl' value='en, fr, it, zh, ro, ru, zh_TW, de, ja, pl, es, cs, hu, ko, pt_BR'/>
	</profile>
	<profile id='IBM WebSphere Portal Express V8.5' installLocation='{{ WSHome }}/PortalServer'>
        <data key='eclipseLocation' value='{{ WSHome }}/PortalServer'/>
        <data key='user.was.installLocation,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ WSHome }}/AppServer'/>
        <data key='user.configengine.binaryLocation,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ WSHome }}/ConfigEngine'/>
        <data key='user.wp.wasprofiles.location,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ WSHome }}/AppServer/profiles'/>
        <data key='user.cw.userid,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ wpsuserId }}'/>
        <data key='user.cw.password,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ wpspassword }}'/>
        <data key='user.wp.base.offering,com.ibm.websphere.PORTAL.EXPRESS.v85' value='portal.express'/>
        <data key='user.iim.currentlocale,com.ibm.websphere.PORTAL.EXPRESS.v85' value='en'/>
        <data key='cic.selector.nl' value='en'/>
        <data key='user.import.profile' value='false'/>
        <data key='user.wp.hostname,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ hostName }}'/>
        <data key='user.wp.cellname,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ cellName }}'/>
        <data key='user.wp.nodename,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ nodeName }}'/>
        <data key='user.wp.userid,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ wpsuserId }}'/>
        <data key='user.wp.password,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ wpspassword }}'/>
        <data key='user.wp.custom.contextroot,com.ibm.websphere.PORTAL.EXPRESS.v85' value='wps'/>
        <data key='user.wp.custom.defaulthome,com.ibm.websphere.PORTAL.EXPRESS.v85' value='portal'/>
        <data key='user.wp.custom.personalhome,com.ibm.websphere.PORTAL.EXPRESS.v85' value='myportal'/>
        <data key='user.wp.starting.port,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ startingPort }}'/>
        <data key='user.wp.profilename,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ profileName }}'/>
        <data key='user.wp.profilepath,com.ibm.websphere.PORTAL.EXPRESS.v85' value='{{ WSHome }}/{{ profileName }}'/>
	</profile>
    <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='{{ imShared }}'/>
    <preference name='com.ibm.cic.common.core.preferences.connectTimeout' value='30'/>
    <preference name='com.ibm.cic.common.core.preferences.readTimeout' value='45'/>
    <preference name='com.ibm.cic.common.core.preferences.downloadAutoRetryCount' value='0'/>
    <preference name='offering.service.repositories.areUsed' value='false'/>
    <preference name='com.ibm.cic.common.core.preferences.ssl.nonsecureMode' value='false'/>
    <preference name='com.ibm.cic.common.core.preferences.http.disablePreemptiveAuthentication' value='false'/>
    <preference name='http.ntlm.auth.kind' value='NTLM'/>
    <preference name='http.ntlm.auth.enableIntegrated.win32' value='true'/>
    <preference name='com.ibm.cic.common.core.preferences.preserveDownloadedArtifacts' value='true'/>
    <preference name='com.ibm.cic.common.core.preferences.keepFetchedFiles' value='false'/>
    <preference name='PassportAdvantageIsEnabled' value='false'/>
    <preference name='com.ibm.cic.common.core.preferences.searchForUpdates' value='false'/>
    <preference name='com.ibm.cic.agent.ui.displayInternalVersion' value='false'/>
    <preference name='com.ibm.cic.common.sharedUI.showErrorLog' value='true'/>
    <preference name='com.ibm.cic.common.sharedUI.showWarningLog' value='true'/>
    <preference name='com.ibm.cic.common.sharedUI.showNoteLog' value='true'/>
</agent-input>

