<?xml version="1.0" encoding="UTF-8"?>
<agent-input clean='true' temporary='true'>
        <profile kind='self' installLocation='{{ imHome }}' id='IBM Installation Manager'>
                <data key='eclipseLocation' value='{{ imHome }}/eclipse'/>
        </profile>
        <server>
                <repository location='{{ imRepo }}'/>
        </server>
        <install>
                <offering
                        features='agent_core,agent_jre'
                        id='com.ibm.cic.agent' />
        </install>
        <preference name='com.ibm.cic.common.core.preferences.preserveDownloadedArtifacts' value='false' />
        <preference name='com.ibm.cic.common.core.preferences.keepFetchedFiles' value='false' />
</agent-input>
